<form
  data-controller="sessions"
  data-action="submit->sessions#submit"
>
  <label>
    Username
    <input type="text" name="user[username]" />
  </label>

  <label>
    Password
    <input type="password" name="user[password]" />
  </label>

  <button type="submit">
    Sign in
  </button>
</form>
