<div
  class="min-h-full grid"
  style="
    height: 60rem;
    grid-template-rows: repeat(1440, calc(100% / 1440));
  "
>
  <% (1440 / 30).times do |n| %>
    <div
      style="grid-row: <%= [n * 30, 1].max %> / span 29"
      class="text-xs text-gray-500 odd:text-gray-700"
    >
      <%= (beginning_of_day + (n.minutes * 30)).strftime("%H:%M")  %>
    </div>
  <% end %>
</div>
