<ul
  style="
    display: grid;
    grid-template-rows: repeat(1440, 1px);
  "
>
  <% day.events.each do |event| %>
    <li
      style="grid-row: <%= grid_row_start(event) %> / span <%= grid_row_span(event) %>"
      class="bg-gray-400 p-1 rounded leading-tight text-sm truncate border-solid border-gray-600 border"
    >
      <%= render(Events::LinkComponent.new(
        event: event,
        time_range: time_range,
      )) do %>
        <%= event.title %>
      <% end %>
    </li>
  <% end %>
</ul>
