<h1>Editing Event</h1>

<%= render 'form', event: @event %>

<%= render(Events::LinkComponent.new(
  event: @event,
  time_range: @time_range
)) do %>
  Back to event
<% end %> |
<%= render(TimeRanges::LinkComponent.new(time_range: @time_range)) do %>
  Back to <%= TimeRange.name(@time_range) %>
<% end %>
